[Desktop Entry]
Name=Video Wallpaper
Comment=Select video wallpapers for Hyprland
Exec=video-wallpaper
Icon=preferences-desktop-wallpaper
Type=Application
Categories=Settings;DesktopSettings;
StartupNotify=true
